@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  box-sizing: border-box;
  font-family: "Red Rose";
}

/* --------------------Heading-Section-Styles------------------------ */

.heading-section {
  background-color: #676f79;
  padding-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo .logo-img {
  width: 120px;
}

.heading-list-items {
  display: flex;
  align-items: center;
}

.list-item {
  list-style-type: none;
  margin: 0 10px;
  font-size: 22px;
}

.list-item a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

.list-item a:hover {
  color: #fff;
}

.list-btn {
  border: 2px solid #111;
  padding: 10px 20px;
  margin: 0 0 0 60px;
}

.list-btn:hover {
  border-color: #fff;
  color: #fff;
}

/* ------Heading-Section---Two---------- */

.hero-img {
  width: 500px;
}

.heading-section-two {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 40px 0;
}

/* -------------------- Part Two -------------------------- */

.part-two {
  width: 70%;
  margin: 100px auto;
}

.part-two h1 {
  font-size: 2vw;
  line-height: 2.5vw;
  text-align: center;
}

.part-two .part-two-info {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}

.info-details .details-num {
  font-size: 14.036px;
  font-weight: 800;
}

.info-details .details-role {
  font-family: sans-serif;
  font-size: 6px;
}

.part-two-img {
  width: 100%;
}

.part-two-img img {
  object-fit: cover;
  width: 100%;
  height: 225px;
}

/* --------------- Part-three SEction ------------------ */

.part-three {
  width: 70%;
  margin: 100px auto;
}

.part-three h1 {
  font-size: 13px;
  line-height: 13.5px;
  text-align: center;
}

.part-three-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 50px auto;
}

.info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 25vw;
}

.info-details img {
  object-fit: cover;
  width: 100%;
  height: 25vw;
}

.info-details:nth-child(3) {
  height: 40vw;
}
.info-details:nth-child(3) img {
  height: 40vw;
}
.info-details:nth-child(4) {
  height: 40vw;
}
.info-details h2 {
  font-size: 2vw;
  line-height: 2.2vw;
}
.info-details p {
  color: rgb(150, 139, 139);
  font-family: sans-serif;
  margin: 30px 0px;
  line-height: 1.5vw;
}

button {
  width: 150px;
  height: 45px;
  background: #3f6559;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* -------------- Section Four Styles ---------------  */

.part-four {
  width: 70%;
  margin: 50px auto;
}

.part-four-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.part-four-heading h2 {
  font-size: 2vw;
  line-height: 2.5vw;
}

.part-four-heading p {
  font-family: sans-serif;
  line-height: 1.5vw;
  color: #968b8b;
}

.part-four-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 35vw;
  gap: 50px;
  width: 100%;
  margin: 50px 0;
}

.person-details h4 {
  font-size: 1.3vw;
  margin: 15px 0;
}

.person-details p {
  font-family: sans-serif;
  line-height: 1.3vw;
  font-size: 0.9vw;
  color: #968b8b;
}

.part-four-section .person-img img {
  width: 100%;
  height: 27vw;
}

.part-four-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------- FOOTER SECTION STYLES ------------------- */

/* color : #040507 */

footer {
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  margin-top: 100px;
  background: #040507;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border-bottom: 1px solid #3f6559;
  margin: 0 auto;
  padding: 50px 0;
}

.footer-section .profile-connects {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-connects .pro-cnt {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3f6559;
}

.list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 50px 0 100px 0;
  width: 70%;
  margin: 0 auto;
}

.list-section ul {
  list-style-type: none;
}

.list-section ul li {
  font-family: sans-serif;
  margin: 20px 0;
  font-size: 14px;
  color: #9fb3b8;
}

.footer-bottom ul li:first-child {
  font-size: 15px;
  color: #fff;
}
